* { 
	box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */


    #navbar {
        background-color: rgb(111, 97, 97);
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
       
      }
      
      #navbar a {
        float: right;
        display: block;
        color: #000000;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 26px;
      }
/* header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
    background-color: rgb(12, 33, 24);
    color:whitesmoke;
    width: 100vw;
} */

/* .header-vmlogo{
 font-size: 40px;
 margin-left: 2rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header-burger{
    margin-right: 2rem;
    color: whitesmoke;
} */

/*  */


.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #865a5a;
    color: #000000;
    height: 100vh;
    
}


.word {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size:1.6rem;
    min-height:40px;
    width: 60%;
  }

/* .landing-hello{
    font-size: 1rem;
} */
.landing-name{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size:3.2rem;
    border: 1px solid rgb(62, 77, 190);
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    margin-top: 10rem;
}

.btn {
    border: 2px solid black;
    background-color: #eeeeee1e;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  /* Green */
  .success {
    border-color: #000000;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
  }
  
  .success:hover {
    background-color: #000000;
    color: white;
  }

.landing-buttom{
   
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 75%;
  
}
.landing-scroll{
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.6rem;
}




/* about */
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about{
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0);
    padding: 3.2rem;
    border: 1px solid rgb(0, 102, 255);
    border-radius: 15px;
    text-align: center;
    max-width: 700px;
}

.about-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
}

.about-description{
    font-size: 2rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
   
}
.about-pd{
   font-size: 1.2rem;
}

.about-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
}

.button-button{
    height: 3rem;
    margin-right: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;

}

/* projects */
.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.projects{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(62, 77, 190);
    border-radius: 10px;
    margin-top: 3rem;
    padding: 5rem;
    max-width: 700px;

}

.project-ficha{
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
    margin: 3rem;
    font-size: 1.2rem;
  
}

.projects-seelive{
   
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4rem;
    width:16rem;
    padding: 1rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 10px;
    
}

/* Contact */

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2rem;
    max-width: 700px;
   
  

}

.img-icons{
    width: 10%;
    height:10%;
    
   
}

.contact-foto-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    margin: 2rem;
}

.contact-foto{
    margin: 2rem;
    width: 15rem;
    border-radius: 150px;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
    max-width: 700px;
}

.contact-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 700px;
}
 

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin-top: 2rem;
    border-radius: 5px;
    
  } 

  