* { 
	box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #405aed;
    
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */


    #navbar {
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
      }
      
      #navbar a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
      }
/* header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
    background-color: rgb(12, 33, 24);
    color:whitesmoke;
    width: 100vw;
} */

/* .header-vmlogo{
 font-size: 40px;
 margin-left: 2rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header-burger{
    margin-right: 2rem;
    color: whitesmoke;
} */

/*  */


.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0000001a;

    color: #000000;
    height: 100vh;
}


.word {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    min-height:40px;
    
  }

/* .landing-hello{
    font-size: 1rem;
} */
.landing-name{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    background-color: #eeeeee1e;
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size:3.2rem;
    margin-top: 3rem;
    padding: 5rem;
   
}

.landing-buttom{
   
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
    width: 75%;
}


button{
    padding: 0.5rem;
    width: 10rem;
    height: 3rem;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    border: 5px solid #13166c;
    margin: 15px;
    border-radius: 15px;
   
    
    }


/* about */
.about{
    background-color: rgb(233, 233, 233);
    padding: 5rem;
}

.about-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* projects */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(239, 239, 239);
    padding: 5rem;
}

.project-ficha{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 20px;
    margin: 5rem;
}

/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(60, 60, 60);
    padding: 5rem;
    color:whitesmoke;
}

img{
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
   
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin-top: 2rem;
    border-radius: 5px;
    
  } 

  .contact-foto{
      width: 15rem;
      height: 15rem;
      border-radius: 150rem;
  }